<div class="card">
  <div class="card-header">
    <div class="fa fa-user"></div>
    <%= user.email %>
  </div>
  <div class="card-footer">
    Signed up
    <%= time_ago_in_words(user.created_at) %>
    ago
  </div>
</div>
